<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/layout.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom" id="nav">
        <a class="navbar-brand" href="/Home/Index">
            <img src="~/images/logo/pizzaLogo.jpg" width="100" height="100" alt="">
        </a>
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav center">
                    <li class="nav-item align-self-center">
                        <a id="orderHere" class="nav-link align-self-center" aria-current="page" href="~/Home/Index">Volver a inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="row" style="padding: 20px; margin-top: 45px; background-color: #F48B4A;">
            <div class="col-4">
                <p class="small-font fw-bold">Teléfonos</p>
                <p>8793-0492</p>
                <p>2233-9485</p>
                <p>8493-3022</p>
            </div>

            <div class="col-4">
                <p class="small-font fw-bold">Dirección</p>
                <p>500 Metros sur del</p>
                <p>Centro Comercial Guadalupe</p>
            </div>

            <div class="col-4">
                <p class="small-font fw-bold">Horarios</p>
                <p>L-V: 9:00 am a 8:00 pm</p>
                <p>S y D: 9:00 am a 4:00 pm</p>
            </div>
    </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJS")
    @RenderSection("scripts", required: false)
</body>
</html>
